@import url('https://fonts.googleapis.com/css2?family=Geist&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-dark: #171717;
  --color-light: #E5E5E5;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  font-family: 'Geist', 'Poppins', sans-serif;
  background-color: var(--color-light);
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: -.025em;
}

.btn-primary {
  background-color: var(--color-dark);
  color: var(--color-light);
  border: none;
  transition: 0.3s;
}

.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.501);
  color: var(--color-light);
}

input.form-control:focus,
textarea.form-control:focus {
  outline: none !important;
  border-color: var(--color-dark) !important;
  box-shadow: none;
}

.text-dark {
  color: var(--color-dark) !important;
}

